/*M Q*/

@media (max-width: 850px) {
    .texto-imagen p {
      font-size: 18px;
      margin-bottom: $size-padding-text-image;
      line-height: 27px;
    }
  
    .texto-imagen h3 {
      margin-bottom: $size-padding-text-image;
    }

    .imagencontexto img{
        height: 700px;
    }
  
    .imagencontexto2 img {
      height: 1900px;
    }
  
    .sobrenosotros-titulo {
      font-size: 35px;
    }
  
    .sobrenosotros-imagen-texto {
      font-size: 18px;
    }
  
    .content {
      grid-template-columns: repeat(2, 1fr);
    }
  
    #noticia-tres {
      grid-column: span 2;
    }
  
    .catalogo {
      grid-template-columns: repeat(2, 1fr);
      padding: 18px 0px;
      justify-items: auto;
      
    }

    .tarjetas{
        max-width: 80%;
        
    }
  
    .visual-inicial {
      flex-direction: column;
    }
    
    .flex-container{
      margin-bottom: 11px;
    }

    .contact-info{
      margin-right: 60px; 
          
    }

    .container .flex-container .contact-info p{
      font-size: 15px;
      font-weight: bold;
      margin: 10px 0px 20px 0px
    }

    
    .contact-form form{
      width: 180px;
    }

    .contact-info iframe {
      width: 240px;
  }
    
    .piedepagina {
      padding: 0px;
    }
  }
  
  @media (max-width: 415px) {
    .texto-imagen {
      top: 1%;
      left: 50%;
      text-align: center;
      padding: 20px;
      width: 90%;
      
    }
  
    .imagencontexto img {
      height: 650px;
    }
  
    .proximo {
      font-size: 30px;
    }
  
    .foto-prox {
      display: flex;
      flex-direction: column;
    }
  
    .foto-prox-derecha {
      display: flex;
      flex-direction: column;
    }
  
    .sobrenosotros-titulo {
      padding-top: 0px;
    }
  
    .sobrenosotros-imagen-texto {
      width: 100%;
      font-size: 23px;
      display: flex;
      flex-direction: column;
    }
  
    .imagencontexto2 img {
      height: 2100px;
    }
  
    .catalogo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .visual-inicial {
      display: none;
    }
  
    .content {
      display: block;
    
    }

    .post-body{
       margin-bottom: 19px;
    }
  
    .video {
      justify-content: center;
    }
  
    .container .contactanos{
       font-size: 24px;
    }
    
   .contact-info{
    margin-top: 5px;
   }

    .container .flex-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .container .flex-container .contact-info{
      width: 100%;
    }

    .container .flex-container .contact-form form{
      align-items: center;
    }

    .contact-info iframe{
      width: 200px;
  }

    .piedepagina {
      height: auto;
      width: 100%;
    }
  }