

.faq {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 0.9fr);
  }
  
  .titulo-preguntas {
    text-align: center;
  }
  
  .preguntasyrespuestas {
    padding: 25px;
  }
  
  label {
    @include font ($size-text-p, $font-weight-bold);
    padding: $size-padding-sections;
  }
  
  .contenido p {
    font-size: 22px;
  }