/*CONTENIDO INICIAL*/

.visual-inicial{
    display: flex;
    justify-content: center;
}

/*Catalogo*/
.catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $size-padding-text-image;
    justify-items: center;
    padding: 18px;
  }
  
  .tarjetas {
    border-radius: $border-radius-image;
    border: 1.1px solid $color-black;
    background-color: $color-black;
  
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    }
  
    img {
      border-radius: $border-radius-image $border-radius-image 0 0;
      transition: $transition-all;
      object-fit: cover;
    }
  
    figure {
      overflow: hidden;
    }
  
    &:hover img {
      transform: scale(1.1);
    }
  }
  
  .info-product {
    color: $color-text;
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: $size-padding-sections;
  
    .precio {
      @include font (18px, 900);
    }
  
    .texto-producto {
      @include font (22px, $font-weight-bold);
    }
  
    button {
      border: 2px solid $color-text;
      border-radius: $size-padding-text-image;
      background: none;
      background-color: $color-black;
      color: $color-text;
      padding: 15px 10px;
      cursor: pointer;
    }
  }