// colores
$color-black: #000;
$color-text: #fff;


// tamaños
$size-button-padding: 7px;
$size-text-p: 20px;
$size-padding-sections: 10px;
$size-padding-text-image: 20px;
$size-padding-foto: 40px;

// fuentes
$font-weight-bold: bold;
$font-weight: 550;

// imágenes
$size-image-width: 80%;
$border-radius-image: 10px;

// elementos 
$transition-all: all 0.4s;